@media screen and (maxwidth:900px)and(min-width:600px) {
    
}
*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 50px;
    padding: 20px;
}
.header_nav{
    display: flex;
   justify-content: space-between;
    align-items: center;
}
.header_nav-logo{
    width:240px
}
.header_nav-items{
    display:flex;
    gap:50px;
    justify-content: end;
   
}
.header_nav-item a{
    color:#008000;
    text-decoration: none;
    
}
.header_nav-item a:hover{
color:#0a0afb;
}

.slider-caption-one{
    text-align: center;
    background-color: #eeee57;
    height: 50px;
}
.slider-caption-two{
    text-align: center;
    background-color: #3eddeb;
    height: 50px;

}
.slider-caption-three{
    text-align: center;
    background-color: #eeee57;
    height: 50px;

}
.layout-section{
    display: flex;
    padding: 20px;
    padding-block: 20px;
}
/* .container{
    height:px;
} */

 .first-icon{
     right: 20px;
    left: 15px;
    top: 23px;  
     height: 50px;
     width: 50px;
    border-radius: 100px;
    box-shadow: 0 0 5px #000;
    margin: 0 auto;
    display: block;
    background: #fcf6f6;
   
    transition: 2s ease-out;
}
.first-icon img{
    height: 55px;
    width: 57px;
    margin-left: -3px;
    margin-top: -0px;
    transition: transform .7s ease-in-out;
} 

.first-icon img:hover {
    transform: rotate(360deg);
}
.pgraph-one{
    text-align: center;
}
.bottom-img img{
    border-radius: 100px;
    border: 2px solid green;
    max-width: 70px;
    margin-left: 20px;
}

/* box-one start */
.container-one{
    display: flex;
}
.box-one{
    width: 300px;
    height: 450px;
    background-color: #f7faf9;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgb(2, 246, 153);
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin-left: 80px;
    }
.box-one p{
        font-size: 15px;
        color: #777;
    }
.box-one h5{
    font-size: 20px;
    padding: 20px 0;
    color: #000;
}
.box-one button{
    width: 100px;
    height: 40px;
    background-color: #4dd275;
    border: none;
    outline: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;

}
.box-one button:hover{
    letter-spacing: 2px;
    opacity: .8;
    /* color: ; */
}
.box-one::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}
.box-one::after{
    width: 100%;
    height: 100%;
    background-color: #fbda6e;
    background-image: linear-gradient(45deg, #fbda61 0%,#ff5acd 100%);
    content: "";
}
/* box-one-end */

/* footer-start */
.footer-middle-sec{
    background-color: #000000;
    height: 350px;
    width: 1347px;
    color: #f7faf9;
}

.middle-f-logo{
    margin-bottom: 20px;
    max-width: 100%;
}
.adress-section{
  margin-left: 50px;
  width: 370px;
}
.link-sec{
text-align: center;
margin-top: -250px;

}
.link-sec h3{
    color: #008000;
}
.link-sec ul{
color: #f7faf9;
list-style-type: none;
}
.footer-end-section{
    padding: 7px 0;
    background-color: #00ae6a;
    color: aliceblue;
    text-align: center;

}

