*{
    margin: 0%;
    padding: 0%;
}
.paragraph{
    margin-left: 20px;
}

.nav-bar{
  background:linear-gradient(#5a58db,#7585ac,#4d9eb5 );
  width: auto;
  height: 80vh; 
}
.second{
   align-items: center;
   margin-left: 125px;
   margin-top: 70px;
   width: 1100px;
   height: 657px;
   font-family: Arial, Helvetica, sans-serif;
   color: #ffffff;
   text-align: center;
   border-radius: 20px;
   background: #ffffff;
   box-shadow: 0 8px 30px 0 #000000;
   align-items: center;

}
.photo{
    height:0%;
    width: 550px;
    margin-top: 50px;
    border-radius: 10px;

}
.pgraph h5{
    color: black;
    height: auto;
    width:1200px;
    margin-top: 30px;
    margin-left: 90px;

}
.pgraph h2{
    color: #000000;
margin-left: 280px;
margin-top: 10px;
    
}
.second pgraph{
    text-align: center;
    margin-left: 30%;
}
.pgraph h4{
    color: #2019f5;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: inline-block;
}
.address{
    
}
.pgraph ul{
    color: #0a0a0a;
    text-align: justify;
    margin-left: 630px;
}
.third{
    background:linear-gradient(#6565bd,#a3a3d3) ;
    height: 500px;
    width: auto;
    display: flex;
}
.box{
    background-color: #faf6f6;
}

.box{
    background-color: #6e6bc8;
    max-width: 140px;
    width: 100%;
    height: 40px;
    margin-top: 70px;
    margin-left: 500px;
    border-radius: 10px;
}
.box-two{
    max-width: 140px;
    width: 100%;
    height: 40px;
    margin-top:70px;
    margin-left: 10px;
    border-radius: 10px;
}
.four{
    background-color: #989191;
    height: 150px;
    width: 10px;
}
