  *{
      margin:0;
      padding: 0;
  }
  .navbar{
      height: 25px;
      text-align: center;
      background-color: #11ecec;
      
      
  }
  .header_nav-items{
      display: flex;
      gap: 40px;
      justify-content: end;
      
  } 
.Header_nav-item a{
color: #ff0000;
text-decoration: none;
}
  .yellow{
      height: 300px;
      width: auto;
      background-color:#ffff00;

  }
 
  .black{
      height: 600px;
      width: auto;
      background-color: #0f1111
  }
  .letter{
    
text-align: center;
  }
  .first_img{
      width: 300px;
      height: 300px;
  }
  .images_n{
      
  }
  .image_one{
      padding: 15px;
      height: 100px;
      width: 300px;
  }
  .image_height{
    width: 300px;
  }
 
  .footer{
    height: 45px;
    text-align: center;
    background-color: #02711a; 
  }