*{
    margin: 0%;
    padding: 0%;
    
}
.paragraph{
    margin-left: 20px;
}

.nav-bar{
  background:linear-gradient(to right,#d0eb4c,#dfad2f,#32c3eb );
  width: auto;
  height: 80vh; 
}
.second{
   align-items: center;
   margin-left: 125px;
   margin-top: 70px;
   width: 1100px;
   height: 730px;
   font-family: Arial, Helvetica, sans-serif;
   color: #ffffff;
   text-align: center;
   border-radius: 20px;
   background: #ffffff;
   box-shadow: 0 8px 30px 0 #000000;
   align-items: center;

}
.photo{
    height:0%;
    min-height: 30px;
    width: 520px;
    margin-top: 50px;
    margin: top 20px;

}
.pgraph h5{
    color: black;
    height: auto;
    width:1200px;
    margin-top: 30px;
    margin-left: 90px;

}
.pgraph h2{
    color: #000000;
margin-left: 280px;
margin-top: 10px;
    
}
.second pgraph{
    text-align: center;
    margin-left: 30%;
}
.pgraph h4{
    color: #2019f5;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: inline-block;
}
.address{
    word-spacing: 20px;    
}
.pgraph ul{
    color: #0a0a0a;
    text-align: justify;
    margin-left: 630px;
    margin-top: 5px;
}
.third{
    background:linear-gradient(to right, #6565bd,#a3a3d3) ;
    height: 700px;
    width: auto;
    display: flex;
}
.box{
    background-color: #faf6f6;
}

.box{
    background-color: #6e6bc8;
    max-width: 140px;
    width: 100%;
    height: 40px;
    margin-top: 73px;
    margin-left: 500px;
    border-radius: 5px;
}
.box-two{
    max-width: 140px;
    width: 100%;
    height: 40px;
    margin-top:73px;
    margin-left: 20px;
    border-radius: 10px;
}
.four{
    background-color: #b5b2b2;
    height: 450px;
    width: 7px;
    margin-top: 150px;
    margin-left: -150px;
    border-radius: 2px;
}
.date{
    color: #ffffff;
    margin-left: -180px;
    margin-top: 130px;
}
.date-one{
    color: #ffffff;
    margin-top: 130px;
    margin-left: -190px;
}
.experience-one{
color: #ffffff;
margin-top:-330px;
font-size: 20px;
margin-left: -6px;
}
.experience-two{
color: #faf5f5;
margin-top: 195px;
font-size: 20px;
margin-left: -6px;
}
.collage{
    color: #faf5f5;
}
.school{
    color: #faf5f5;
    width: 50px;
}
/* .footer-nav{
}
.footer-content{
    height: 200px;
    background-color: #0b0b0b; 

}
.social-icon{
    margin-top: 30px;
} */
footer{
width: 100%;
/* position: absolute; */
bottom:0;
background: linear-gradient(to right,#00093c,#2d0b00);
color: #fff;
padding: 200px 0 30px;
/* border-bottom-left-radius: 125px; */
/* border-radius: 10px; */
font-size: 13px;
line-height: 20px;
}
.social-icon{
    align-content: center;
}
.social-icon p{
    margin-left: 900px;
    margin-top: -120px;
}
